{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equi="x-UA-Comatible"content="IE=edge">
        <meta name="viewport"content="width=device-width,initial-scale=1.0">
        <tittle><h1>BASHAR</h1></tittle>
        <link rel="stylesheet" href ="{% static 'first_app/css/first.css' %}"/>
    </head>
<body>
    <h1>we are inside app</h1>
    <h1>Author name:{{name}}</h1>
    <img src="{% static 'first_app/images/bashar_vai.jpg' %}" alt="Handsome boy" />
</body>
</html>            


